.search {
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
}

.search_input {
  flex: 1 1 100%;
  border-left: 1px solid #D0D8DB;
  border-top: 1px solid #D0D8DB;
  border-bottom: 1px solid #D0D8DB;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #8A9599;
  padding: 5px 15px;

  &:focus {
    outline: none;
  }
}

.search_submit {
  flex: 0 0 5rem;
  border-left: none;
  border-top: 1px solid #D0D8DB;
  border-right: 1px solid #D0D8DB;
  border-bottom: 1px solid #D0D8DB;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
