@import "normalize.css";

@custom-media --large-viewport (max-width: 1680px);
@custom-media --medium-viewport (max-width: 1024px);
@custom-media --small-viewport (max-width: 768px);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100vh;
}
