h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #456;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

h1 {
  font-size: 3.6rem;
  margin: 0 0 1rem;
}

p,
input,
button {
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #4bf;
  }
}
