@custom-media --medium-viewport (max-width: 1024px);
@custom-media --small-viewport (max-width: 768px);

.channel-page {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.channel-page_header {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row nowrap;
  margin-bottom: 4rem;

  @media (--medium-viewport) {
    flex-flow: row wrap;
  }
}

.channel-page_logo {
  flex: 0 0 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999px;
  overflow: hidden;
  margin-right: 4rem;

  @media (--medium-viewport) {
    height: 25rem;
    flex: 0 0 100%;
  }
}

.channel-page_description {
  flex: 1 1 50%;
}

.channel-page_stats {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.channel-page_stat {
  font-size: 1.2rem;
  color: #9da2a8;
  margin-right: 1rem;

  strong {
    color: #123;
  }
}

.channel-page_videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 0 0 100%;
  margin: 2rem 0 0;
  list-style: none;
  margin: 0;
  padding: 0;

  &::after {
    content: '';
    flex: 0 0 calc((100% / 3) - 2rem);
  }
}

.channel-page_search {
  flex: 0 0 100%;
}
