.video-page {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 100%;
  padding-bottom: 4rem;
}

.video-page_player-container {
  position: relative;
  width: 100%;

  &::after {
    content: ' ';
    display: block;
    padding-bottom: 56.25%;
  }
}

.video-page_player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video-page_user-badge {
  margin-bottom: 2rem;
}

.video-page_description {
  font-size: 1.4rem;
  margin-left: 7rem;
}

.video-page_stats {
  margin-left: auto;
}
