.search-page {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}


.search-page_search {
  width: 100%;
}

.search-page_error {
  font-size: 1.4rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  line-height: 1.8;
  color: #123;
  border-bottom: 2px solid #f51;

  strong {
    color: #f51;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #456;
    font-weight: 700;

    &:hover {
      color: #4bf;
    }
  }
}
