@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 5.2rem;
  height: 5.2rem;
}

.loader_spinner {
  width: 100%;
  height: 100%;
  border: 0.4rem solid #bcd;
  border-top-color: #456;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.loader_text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
