@custom-media --medium-viewport (max-width: 1080px);
@custom-media --small-viewport (max-width: 768px);

.grid-item {
  flex: 0 0 calc((100% / 3) - 2rem);
  margin-bottom: 2rem;

  @media (--medium-viewport) {
    flex: 0 0 calc(50% - 1rem);
  }

  @media (--small-viewport) {
    flex: 0 0 100%;
  }
}

.grid-item_thumbnail {
  background-color: #123;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-indent: -999px;
  overflow: hidden;

  &::before {
    display: block;
    content: ' ';
    padding-bottom: 52.65%;
  }
}
