.user-badge_video-user {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-weight: 700;
}

.user-badge_video-user_large {
  font-size: 1.6rem;
}

.user-badge_video-user-thumbnail {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  background-size: cover;
}

.user-badge_video-user-thumbnail_large {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  margin-right: 2rem;
}
